<section class="airbnb-hero dashboard-hero">
  <div class="dashboard-content">
    <h3 class="title is-3">Welcome to Airbnb!</h1>
      <a href="/rooms" class="button large is-primary">Explore our rooms</a>
  </div>
</section>