<section class="airbnb-hero">
  <div class="container  signup-container">
    <h2 class="title is-2 has-text-warning has-text-centered">Signup</h2>
    <form action="/signup" method="POST">

      <div class="field">
        <label class="label">First name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="firstname" placeholder="First name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Last name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="lastname" placeholder="Last name">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="email" name="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="password" name="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Birthday</label>
        <input class="input has-background-white" type="date" data-label-from="Birthday" data-display-mode="dialog"
          data-color="info" name="birthday">
      </div>

      <div class="control has-text-centered">
        <button class="button is-primary">Signup</button>
      </div>

    </form>

  </div>
</section>