body {
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Playfair Display", serif; */
}

.airbnb-logo {
  font-size: 2rem;
}

.datetimepicker-dummy-wrapper {
  background-color: white;
}

.airbnb-hero {
  background: url("../images/default-hero.jpg") center/cover no-repeat fixed;
  min-height: 100vh;
  height: auto;
  width: 100vw;
}

.home-hero {
  background: url("../images/airbnb-hero.jpg") center/cover no-repeat fixed;
  min-height: 85vh;
  margin-bottom: 0 !important;
}

.promotion {
  height: 15vh;
}

.promotion-body {
  height: 100%;
  text-align: center;
  padding: auto;
  display: flex;
  align-items: center;
}
.promotion-body h1.title {
  margin: auto;
}

.signup-hero {
  background: url("../images/signup-hero.jpg") center/cover no-repeat fixed;
}
.rooms-hero {
  padding-top: 120px;
  padding-bottom: 50px;
}

.modal label {
  color: lightblue;
}
a.aribnb-navbar-item {
  cursor: pointer;
  transition: all 0.6s linear;
}
a.aribnb-navbar-item:hover {
  cursor: pointer;
  transform: scaleY(1.3);
  font-size: 1.2rem;
  color: #3273dc !important;
  background-color: transparent !important;
}
.modal-title {
  margin: 20px auto;
  text-align: center;
  font-size: 2.3rem;
  color: #3273dc;
}
.signup-container {
  padding-top: 40px;
}

footer {
  padding: 1.25rem;
  background: #222;
}
footer > .social-icons {
  margin-top: 15px;
  font-size: 1.8rem;
}

footer > .social-icons a:hover {
  color: hsl(348, 100%, 61%);
}

.book-dropdown {
  width: 100%;
}

#book-form svg.fa-angle-down {
  color: black;
}
.button.has-text-left {
  justify-content: flex-start;
}

section.signup-hero {
  padding-top: 80px;
  padding-bottom: 30px;
}

.about-us {
  padding-bottom: 2.5rem;
}
.about-text {
  margin: auto 1rem;
}
@media (max-width: 768px) {
  #bookroom {
    width: calc(100vw - 15px);
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .about-us {
    padding-top: 2.5rem;
  }
  .signup-container {
    width: 500px;
  }
  .login-modal > .modal-card {
    width: 500px;
  }
  header {
    position: relative;
  }
  header > nav.navbar {
    position: absolute;
    top: 15px;
    width: 90vw;
    left: 5vw;
    background: transparent !important;
    /* color: white !important; */
  }
}

@media screen and (min-width: 992px) {
  .about-img-container {
    position: relative;
  }
  .about-img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid #3fd0d4;
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}
